@inherits LayoutComponentBase

<div class="min-h-screen text-xl leading-relaxed">
    <NavMenu />

    <main class="mx-auto lg:w-[1000px] 2xl:w-[1500px] px-2 lg:px-0">
        @Body
    </main>
</div>