<header class="border-b-2 border-b-gray-200 p-2 flex items-center h-12">
    <div class="flex-shrink-0">
        <NavLink class="text-xl" href="/" Match="NavLinkMatch.All">
            Script Bytes
        </NavLink>
    </div>
    <div class="ml-auto flex items-baseline">
        <NavLink href="contact" Match="NavLinkMatch.All"
            class="text-gray-800 px-3 text-lg hover:text-gray-600 hover:underline">Contact</NavLink>
        <NavLink href="about" Match="NavLinkMatch.All"
            class="text-gray-800 px-3 text-lg hover:text-gray-600 hover:underline">About</NavLink>
        <NavLink href="privacy-policy" Match="NavLinkMatch.All"
            class="text-gray-800 px-3 text-lg hover:text-gray-600 hover:underline">Privacy</NavLink>
    </div>
</header>
