@page "/about"
<h1>About</h1>

<div>
    My name is Jeff, and I have been a full stack developer since 2008. 
    In that time I have worked mostly with C# and .Net in some form.
    I simply want to document common issues, struggles, tips, and random facts which I experience in my day to day job.
</div>

<div>
    In late 2021 I started a Youtube channel to help share my knowledge.
</div>

@code {
    
}