@page "/"
@attribute [StreamRendering]

<div>@Message</div>

@code
{
    private string Message { get; set; } = "Loading...";
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        Message = "Hello world!";
    }
}