<div>
    <div class="text-2xl py-4 font-semibold">Connect with us!</div>
    <div class="flex gap-4">
        <NavLink href=@("https://www.threads.net/@scriptbytes") target="_blank">
            <i class="ri-threads-line text-3xl hover:bg-gray-100 hover:rounded p-2"></i>
        </NavLink>
        <NavLink href=@("https://www.instagram.com/scriptbytes") target="_blank">
            <i class="ri-instagram-line text-3xl"></i>
        </NavLink>
        <NavLink href=@("https://www.youtube.com/@scriptbytes") target="_blank">
            <i class="ri-youtube-line text-3xl"></i>
        </NavLink>
    </div>

</div>

@code {
    
}