@switch(Type)
{
    case HeadingType.H1:
        <h1 class="text-3xl text-gray-600 py-4">@ChildContent</h1>
        break;
    case HeadingType.H2:
        <h2 class="text-2xl text-gray-600 py-4">@ChildContent</h2>
        break;
    case HeadingType.H3:
        <h3 class="text-2xl text-gray-600 py-4">@ChildContent</h3>
        break;
}

@code {
    public enum HeadingType
    {
        H1,
        H2,
        H3
    }
    
    [Parameter]
    public HeadingType Type { get; set; } = HeadingType.H1;
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}